<!DOCTYPE>
<html>
    {{ partial "head.html" . }}
  <body>
    {{ partial "_navbar.html" . }}
    {{ partial "header.html" . }}
    {{ partial "_portfolio.html" . }}
    {{ partial "_about.html" . }}
    {{ partial "_contacts.html" . }}
  </body>


  <script defer>
    window.addEventListener("scroll", function() {
      var target = document.getElementById("header");
      var element = document.getElementById("back-to-the-top"); 
      if (window.scrollY > (target.offsetTop + target.offsetHeight)) {
        element.classList.remove('hidden');
      } else {
        element.classList.add('hidden');
      }
    });
  </script>
  {{ $js := resources.Get "js/portfolio.js" }}
  {{ $file := $js | resources.Minify }}
  <script defer type="application/javascript" src="{{ $file.Permalink }}"></script>
</html>