.contacts {
    width: 40%;
    text-align: center;

    &__img {
        mix-blend-mode: darken;
        width: 30rem;
    }
}

.social {

    margin-top: 6rem;
    
    &__icon {
        height: 4rem;
        width: 4rem;
        color: black;
        padding: 0.7rem;
        display: inline;

        & a {
            color: inherit;
            text-decoration: none;
        }

        & i {
            color: $color-background-text;
            font-size: 3em;
            transition: opacity 0.5s ease-in-out;
            opacity: 1;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}