.header {

    width: 100%;
    line-height: 6em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & h1 {
        font-size: 10rem;
        text-align: left;

        &::after {
            display: block;
            content: "";
            height: 1rem;
            width: 20rem;
            margin-left: 1rem;
            margin-top: 2rem;
            background-color: $color-background-text;
        }
    }

    &__title {
        text-transform: uppercase;
        z-index: 10;
    }

    &__img {
        margin-top: -8rem;
        min-height: 80vh;
        max-height: 100vh;
        z-index: 5;
    }
}

@media only screen and (max-width: $bp-medium) {

    .vignete-top{
        height: 12rem;
        background: linear-gradient(0deg, rgba(black,0) 0%, var(--background-color) 50%, var(--background-color) 100%);
    }
}  