<div class="container" id="portfolio">
    <div class="portfolio">
        <h1 class="portfolio__title">Portfolio</h1>
        <div class="portfolio__cards">
            <div class="portfolio__card">
                <img class="portfolio__card__img" src="img/toadking.jpg" alt="toadking">
            </div>
            <div class="portfolio__card">
                <img class="portfolio__card__img" src="img/vaca.jpeg" alt="vaca">
            </div>
            <div class="portfolio__card">
                <img class="portfolio__card__img" src="img/picasso.jpg" alt="picasso">
            </div>
            <div class="portfolio__card">
                <img class="portfolio__card__img" src="img/grito.jpeg" alt="grito">
            </div>
            <div class="portfolio__card">
                <img class="portfolio__card__img" src="img/toadking.jpg" alt="toadking">
            </div>
            <div class="portfolio__card">
                <img class="portfolio__card__img" src="img/vaca.jpeg" alt="vaca">
            </div>
            <div class="portfolio__card">
                <img class="portfolio__card__img" src="img/picasso.jpg" alt="picasso">
            </div>
            <div class="portfolio__card">
                <img class="portfolio__card__img" src="img/grito.jpeg" alt="grito">
            </div>
        </div>
    </div>
</div>